/* CSS Custom Properties */
:root {
  --text-light: rgba(230, 230, 230, 1);
  --text-dark: #615954;
  --black: black;
  --white: white;
  --gray-1: rgb(20, 20, 30);
  --gray-2: rgb(30, 30, 40);
  --gray-3: rgb(40, 40, 50);
  --gray-4: rgb(80, 80, 100);
  --green-dark: rgb(20, 120, 20);
  --green-light: rgb(30, 230, 30);
  --purple-dark: rgb(100, 20, 100);
  --purple-light: rgb(150, 30, 150);
  --yellow-light: rgb(220, 220, 50);
  --yellow-dark: rgb(180, 180, 0);
  --crimson: rgb(120, 20, 50);

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-4);
  padding: 2vmin;
  height: 100vh;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

nav {
  background-color: var(--gray-2);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--gray-2);
  width: 100%;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--gray-3);
  border-radius: .5vmin;
  color: var(--text-light);
  background-image: none !important;
  outline: none;
}

input:focus {
  border-color: var(--purple-dark);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--green-light);
  background-color: var(--purple-dark);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--gray-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button:hover, a.button:hover {
  color: var(--green-light);
  background-color: var(--purple-light);
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--crimson);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

a {
  color: var(--green-light);
}

a:visited {
  color: var(--yellow-light);
}

input {
  color: black;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-1);
  color: var(--text-light);
  border: .1vmin solid var(--gray-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--gray-1);
  border: .1vmin solid var(--gray-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--purple-dark);
  text-align: center;
}

